html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.container, .container-fluid {
	padding: 0px;
}
.source-link {
	font-size: 1.7em;
	color: #333;
}
.input-group-addon:hover {
	cursor: pointer;
	background-color: #ccc;
}
.main {
	position: fixed;
}
.footer {
	bottom: 0;
	position: fixed;
	padding: 20px;
}
.player {
	width: 100%;
	padding: 8px 0px 8px 0px;
	background-color: #fff;
}
.header-nav {
	padding: 0px;
}
input {
	padding: 0px 10px 0px 10px;
	border-radius: 0px;
}
.main-nav a {
	display: inline;
	padding: 0px 5px 0px 5px;
}
#webpage-container {
	padding: 0;
}
.input-group-addon {
	border-radius: 0px;
}
#webpage-iframe {
	padding: 0px;
	height: 100%;
}
iframe {
	border: none;
	width: 100%;
}
#webpage-iframe-intro {
	text-align: center;
	vertical-align: middle;
	display: table-row;
}
.youtube, .soundcloud, .mixcloud {
	display: none;
}
.source-icon {
	height: 20px;
	width: 20px;
}
.platform-link {
	transition: opacity 0.2s;
	opacity: 1;
}
.active {
	transition: background-color 0.2s;
	opacity: 0.6;
}
