body {
	background-color: #eee;
	font-family: Arial;
	display: table;
	width: 97%;
	height: 97%;
}
.centered-in-page {
	display: table-cell;
	vertical-align: middle;
}
.big-letters {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
}
.small-letters {
	font-size: 0.8em;
	font-style: italic;
}
.small-letters a {
	text-decoration: none;
	color: #81BEF7;
}
.small-letters a:hover {
	color: #58ACFA;
}
#instructions {
	font-size: 0.8em;
}
ol li {
	margin-bottom: 10px;
}
#intro ol {
	margin-top: 30px;
	font-size: 0.8em;
}
.space {
	height: 50px;
}
#intro {
	color: #aaa;
}
h5 {
	font-size: 1.1em;
	font-weight: bold;
}
.separator-25px {
	padding: 0;
	height: 20px;
	width: 100%
}
h4 {
	font-size: 1.3em;
}
.table-condensed {
	font-size: 0.9em;
}
.table-condensed .no-border {
	border-top: none;
}
.small-letter {
	font-size: 0.9em;
}
.row {
	margin-left: 20px;
}
#cookie-policy-header {
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	color: #aaa;
}
.info-block {
	background: #ddd;
	margin: 12px;
}
.info-header {
	background: #bbb;
	margin: 0;
	padding: 4px 10px 4px 10px;
}
.info-info {
	font-size: 0.9em;
	padding : 10px 20px 10px 20px;
}